.container{
    text-align: center;
}
section{
    border:chartreuse solid;
    margin: 0px 0px 5px ;
    justify-content: center;
}

h3{
    margin: 0px 0px 5px ;
    color:black;

} 
p{
    color:cornflowerblue;
    font-size: 18px;
}