.aaa{
    margin: 0.5px 0.5px 0.5px 0.5px;
    justify-content: space-around;

    font-size: 30px;
    float: right;

}

.aa{
    margin: 0.5px 0.5px 0.5px 0.5px;
    justify-content: space-around;
    font-size: 30px;

}
